[*.cs]
dotnet_diagnostic.IDE0005.severity = error      # unnecessary using directives
dotnet_diagnostic.IDE0035.severity = error      # unreachable code
dotnet_diagnostic.IDE0059.severity = error      # unnecessary value assignment
dotnet_diagnostic.IDE0060.severity = error      # unused parameter
indent_style = space
indent_size = 4
